@mixin set-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: $black;
}
@mixin on-tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin on-mobile {
    @media screen and (max-width: 600px) {
        @content;
    }
}
