@import 'variable';
@import 'mixin';

* {
    margin: 0;
    padding: 0;
}

body {
    @include set-font;
}

input,
button {
    outline: none;
    border: none;
    background: none;
}
input {
    @include set-font;
    color: $black;
}

span {
    &.material-icons-outlined {
        color: $black;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
